
    /* html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    } */

    .gallery swiper-container {
      width: 100%;
        padding-top: 50px;
      padding-bottom: 50px; 
      
    }

    .gallery swiper-slide {
      background-position: center;
      background-size: cover;
      width: 400px;
      height: 400px;
    }

    .gallery swiper-slide img {
      display: block;
      height: 400px;
    }

    @media screen and (max-width: 768px){
        .gallery swiper-slide {
            background-position: center;
            background-size: cover;
            width: 200px;
            height: 200px;
          }
      
          .gallery swiper-slide img {
            display: block;
            height: 200px;
          }
    }